    
{{#each events}}
  <ul class="list-group list-grioup-flush">
    <li>
      <h5 class="card-title">Event Name: {{this.eventName}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Category: {{this.category}}</h6>
      <p class="card-text">Description of event.</p>
      <p class="card-text">Address: {{this.eventAddress}}</p>
      <p class="card-text">Start Time: {{this.startTime}} End Time: {{this.endTime}}</p>
      <a href="#" class="card-link">Update Event</a>
      <a href="#" class="card-link">Message Event Host</a>
    </li>
  </ul>
{{/each}}
    

